obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
Temp/Assembly-CSharp.dll.hash
Temp/CompilationLog.txt
Temp/Unity.CollabProxy.Editor.dll.hash
Temp/Unity.PlasticSCM.Editor.dll.hash
Temp/Unity.Rider.Editor.dll.hash
Temp/Unity.Services.Core.Editor.dll.hash
Temp/Unity.TextMeshPro.dll.hash
Temp/Unity.TextMeshPro.Editor.dll.hash
Temp/Unity.Timeline.dll.hash
Temp/Unity.Timeline.Editor.dll.hash
Temp/Unity.VisualStudio.Editor.dll.hash
Temp/Unity.VSCode.Editor.dll.hash
Temp/UnityEditor.TestRunner.dll.hash
Temp/UnityEditor.UI.dll.hash
Temp/UnityEngine.TestRunner.dll.hash
Temp/UnityEngine.UI.dll.hash
Temp/UnityLockfile
Temp/UnityTempFile-0ac44b086e569401da774789f7d3042d
Temp/UnityTempFile-1f027a0446bac42f0b3375aab66cc32f
Temp/UnityTempFile-1f9369fa7deb840c6bb3bf4208bba508
Temp/UnityTempFile-23ab7799d0aa94f17a1ff9a4b6966adc
Temp/UnityTempFile-510730c2073d143efbd69c0828b1ca4b
Temp/UnityTempFile-8766ad44be1bf4f20b0f921e8e0ddd30
Temp/UnityTempFile-8a32c4e69a63546b89c1492c609ab8be
Temp/UnityTempFile-9086956c9f6d844a3bdf3c6f90e22ce2
Temp/UnityTempFile-aaa64b3bf347b4eaa9cb1e93ad69a61c
Temp/UnityTempFile-b809490d5be634814bba2a5f978fe0e4
Temp/UnityTempFile-c55549e342edc4f758e69827d970aabc
Temp/UnityTempFile-ca55406794e6749a4b02830d7cfa2e75
Temp/UnityTempFile-e1e0d23ca51624dacb00ea3b2d169617
Temp/UnityTempFile-ece1ed30020ca40bbbc1cd82bcd714d7
Temp/UnityTempFile-fdff0386ac9f64a76aad07d1a53b48ca
Temp/workerlic
Temp/__Backupscenes/0.backup
Logs/
Temp/
